doctype html
html
    head
        meta(charset="utf-8")
        title Iris Messenger
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
    body
        div.container-fluid
            div.row.ui-title
                span(class="glyphicon glyphicon-comment icon-iris")
                |  Iris Messenger
            div.row.ui-subtitle
                div.conversation-title
                    span Conversations
                    a.pull-right(href="")
                        span.glyphicon.glyphicon-plus
                div.message-title
                    span Group Name
                    a.pull-right(href="")
                        span.glyphicon.glyphicon-log-out
            div.row.ui-textbox
                form#message-text-form
                    input.form-control(type="text", placeholder="Enter your message (press Enter to send)")
                    button(type="submit")
                        span.glyphicon.glyphicon-send
            div.panel-conversation
                ul.nav.conversation-list
                    each group in allGroup
                        li
                            a(href="?groupName="+group.name)
                                span.group-name #{group.name}
                                span.group-recent #{group.users.length} users in this conversation
            div.message-box
                div.message.message-friend
                    span.message-sender คุนชาeตู่za
                    span.message-text อะไรของมึงวะปั๊ดโธ่
                div.message.message-me
                    span.message-sender Me
                    span.message-text อูย
                div.message.message-me
                    span.message-sender Me
                    span.message-text กลัวแล้วพี่
                div.message.message-friend
                    span.message-sender คุนชาeตู่za
                    span.message-text ลงไปซื้อมาม่าผัดได้แล้ว
                div.message.message-friend
                    span.message-sender คุนชาeตู่za
                    span.message-text หิว
                div.message.message-me
                    span.message-sender Me
                    span.message-text ครับ
            // div.row
            //     div.col-xs-3.panel.panel-conversation
            //         ul.nav.conversation-list
            //             li
            //                 a(href="#")
            //                     span.group-name Group Name
            //                     span.group-recent 5 users in this conversation
            //             li
            //                 a(href="#")
            //                     span.group-name Group Name
            //                     span.group-recent Recent Message
            //             li
            //                 a(href="#")
            //                     span.group-name Group Name
            //                     span.group-recent Recent Message
            //             li
            //                 a(href="#")
            //                     span.group-name Group Name
            //                     span.group-recent Recent Message
            //     div.col-xs-9.message-box
            //         div.message-textbox
            //                     input.form-control(type="text", placeholder="Enter your message (press Enter to send)")
            //         div.message-feed
            //             div.message.message-friend
            //                 span.message-sender คุนชาeตู่za
            //                 span.message-text อะไรของมึงวะปั๊ดโธ่
            //             div.message.message-me
            //                 span.message-sender Me
            //                 span.message-text อูย
            //             div.message.message-me
            //                 span.message-sender Me
            //                 span.message-text กลัวแล้วพี่
            //             div.message.message-friend
            //                 span.message-sender คุนชาeตู่za
            //                 span.message-text ลงไปซื้อมาม่าผัดได้แล้ว
            //             div.message.message-friend
            //                 span.message-sender คุนชาeตู่za
            //                 span.message-text หิว
            //             div.message.message-me
            //                 span.message-sender Me
            //                 span.message-text ครับ
            //div.row
                div.col-md-6
                div.c0l-md-6
                    form#chat-form(action="")
                        input.box(type="text", id="chat-message", autocomplete="off", placeholder="Enter message here...")
        script(src="js/jquery.min.js")
        script(src="js/socket.io.js")
        script.
            var socket = io();
            // เมื่อ form ถูก submit ให้ทำอะไร? 
            $('#chat-form').submit(function() {
                // ส่งข้อความที่พิมพ์มาไปยัง server ผ่านทางท่อชื่อ "chat"
                socket.emit('chat', {"message":$('#chat-message').val(),"kry":"kor"});
                $('#chat-message').val('').focus();
                return false;
            });
            socket.on('chat', function(message) {
                // แสดงผลข้อความที่ได้มาออกมาทางหน้าจอ
                $('.message-box').append($('<div class="message message-me">')
                .append($('<img class="message-picture">')).append($('<span class="message-sender">').text('Me'))
                .append($('<span class="message-text">').text(message)));
            });
            var local_data =!{JSON.stringify(data)};
            console.log(local_data);
