html, body {
    height: 100%;
}

.container-fluid {
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}

.ui-title {
    font-size: 1.25em;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}
.ui-title > span.icon-iris {
    font-size: 0.85em;
}
.ui-title .pull-right {
    margin: 0;
}
.ui-title .username {
    display: inline-block;
    font-size: 0.75em;
    color: #999;
    margin-right: 5px;
}

.ui-subtitle {
    font-size: 1.25em;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 56px;
    z-index: 1000;
}
.ui-subtitle > div {
    position: absolute;
    border-bottom: 1px solid #eee;
    padding: 10px;
    z-index: 1000;
    background-color: #fff;
}
.ui-subtitle > .conversation-title {
    left: 0;
    width: 330px;
    border-right: 1px solid #eee;
}
.ui-subtitle > .message-title {
    left: 330px;
    right: 0;
    border-right: 1px solid #eee;
}

@media screen and (max-width: 768px) {
    .ui-subtitle > .conversation-title {
        width: 200px;
    }
    .ui-subtitle > .message-title {
        left: 200px;
    }
}

.ui-textbox {
    position: fixed;
    bottom: 0;
    left: 330px;
    right: 0;
    border-top: 1px solid #eee;
    margin: 0;
}
.ui-textbox input.form-control {
    padding: 10px 12px;
    height: auto;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    padding-right: 45px;
}
.ui-textbox button[type='submit'] {
    position: fixed;
    right: 8px;
    bottom: 5px;
    background-color: transparent;
    border: 0;
    font-size: 1.25em;
}

@media screen and (max-width: 768px) {
    .ui-textbox {
        left: 200px;
    }
}

.panel > .row {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

/*
  ========== SIDEBAR ===============  
*/

.panel-conversation {
    height: 100%;
    position: fixed;
    width: 330px;
    top: 102px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0;
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border-right: 1px solid #eee;
}

@media screen and (max-width: 768px) {
    .panel-conversation {
        width: 200px;
    }
}

.conversation-list {
    /*margin-right: -21px;*/ /* 20px padding + 1px border */
    margin-bottom: 55px;
    /*margin-left: -20px;*/
}
.conversation-list > li {
    border-bottom: 1px solid #eee;
}
.conversation-list > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.conversation-list > .active > a,
.conversation-list > .active > a:hover,
.conversation-list > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.conversation-list > li > a > .group-name {
    display: block;
    font-weight: bold;
}
.conversation-list > li > a > .group-recent {
    display: block;
    font-size: small;
    color: #999;
}

#alert-add-conversation {
    display: none;
}

/*
  ========== MESSAGE BOX ===============  
*/

.message-box {
    margin-left: 330px;
    margin-top: 116px;
    margin-bottom: 65px;
}

@media screen and (max-width: 768px) {
    .message-box {
        margin-left: 200px;
    }
}

.message {
    margin-top: 20px;
}

.message > img.message-picture {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 25px;
    background-size: cover;
    background-position: center center;
}

.message > .message-sender {
    font-size: 0.8em;
    color: #888;
    display: block;
    margin-bottom: 8px;
}

.message-me {
    text-align: right;
}

.message-me > img.message-picture {
    float: right;
    margin-left: 10px;
}

.message-me > .message-text {
    color: #fff;
    background: #666;
    padding: 8px 10px;
    border-radius: 15px;
}

.message-friend {
    text-align: left;
}

.message-friend > img.message-picture {
    float: left;
    margin-right: 10px;
}

.message-friend > .message-text {
    color: #fff;
    background: #aaa;
    padding: 8px 10px;
    border-radius: 15px;
}

/*
  ========== MIDDLE WRAPPER ===============  
*/

.whole-advice {
    position: fixed;
    color: #777;
    left: 330px;
    right: 0;
    padding: 30px;
    background: #f6f6f6;
    text-align: center;
}
.welcome {
    top: 56px;
    bottom: 0;
}
.join-advice {
    top: 102px;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .whole-advice {
        left: 200px;
    }
}

/* MISC */

.tooltip {
    z-index: 2000;
}